<ion-tabs>
  <ion-tab [root]="homeRoot" [tabTitle]="tab1Title" tabIcon="home" [rootParams]="params"></ion-tab>
  <ion-tab [enabled]="getStatut(tab2Title)&&!isConnected()" [root]="offreRoot" [tabTitle]="tab2Title" tabIcon="book" [rootParams]="params"></ion-tab>
  <ion-tab *ngIf="isConnected()" [enabled]="getStatut(tab3Title)" [root]="contactRoot" [tabTitle]="tab3Title" tabIcon="contact" [rootParams]="params"></ion-tab>
  <ion-tab  *ngIf="isConnected()" [enabled]="getStatut(tab4Title)" [root]="settingRoot" [tabTitle]="tab4Title" tabIcon="cog" [rootParams]="params"></ion-tab>
</ion-tabs>