<ion-tabs>
  <ion-tab [root]="homeRoot" [tabTitle]="tab1Title" tabIcon="home"></ion-tab>
  <ion-tab enabled="getStatut(tab2Title)" [root]="offreRoot" [tabTitle]="tab2Title" tabIcon="book"></ion-tab>
  <ion-tab enabled="getStatut(tab3Title)" [root]="contactRoot" [tabTitle]="tab3Title" tabIcon="contact"></ion-tab>
  <ion-tab enabled="getStatut(tab4Title)" [root]="settingRoot" [tabTitle]="tab4Title" tabIcon="cog" [rootParams]="params"></ion-tab>
</ion-tabs>