<ion-slides pager>

    <ion-slide *ngFor="let image of house.images">
        <ion-item>
      <ion-img [src]="imageService.getImage(image)"></ion-img>
        </ion-item>
    </ion-slide>
    
  </ion-slides>
  <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img  *ngFor="let image of house.images" [src]="imageService.getImage(image)"></ion-img>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  <form *ngIf="form" [formGroup]="form">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]"
      (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()"
        *ngIf="this.form.controls.profilePic.value"></div>
    </div>
    <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
  </form>
  