<ion-header>

  <ion-navbar>
    <ion-title>{{ item.price }}$</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="imageService.getImageUrl(item.id)">
  </div>

  <div class="item-detail" padding>
    <h2>{{"PRIX"|translate}} : {{item.price}}$</h2>
    <p>{{item.content}}</p>
  </div>
  <div>
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]"
      (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()"
        *ngIf="this.form.controls.profilePic.value"></div>
    </div>
  </div>
</ion-content>