<ion-header>

  <ion-navbar>
    <ion-title>{{ item.price }}$</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="imageService.getImageUrl(item.id)">
  </div>

  <div class="item-detail" padding>
    <h2>{{"PRIX"|translate}} : {{item.price}}$</h2>
    <p>{{item.content}}</p>
  </div>
  <div>
    <page-offre-detail></page-offre-detail>
  </div>
</ion-content>