<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="imageService.getImage(item.id)">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.price}}</h2>
    <p>{{item.about}}</p>
  </div>
</ion-content>