<ion-header>

  <ion-navbar>
    <ion-title>{{ 'HOME' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngFor="let item of cardItems">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="imageService.getImage(item.user.id)">
      </ion-avatar>
      <h2>{{item.user.name}}</h2>
      <p>{{item.date}}</p>
    </ion-item>
    <img [src]="imageService.getImage(item.id)">
    <ion-card-content>
      <p>{{item.content}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          {{ 'CONTACTER' |translate}}
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note color="danger">{{ 'PRIX'}}:{{item.price}}</ion-note>
      </ion-col>
      <ion-col>
        <button ion-button clear small icon-start [ngClass]="{'isAbonne':isAbonne(item),'noAbonne':!isAbonne(item)}"
        (click)="abonnement(item)">
          <ion-icon name='alert' ></ion-icon>
          {{ 'ABONNE' |translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>