<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="startApp()" color="primary">{{ 'HOME' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button>
    <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>
  </div>
</ion-content>
