<ion-header>

  <ion-navbar>
    <ion-title>{{ 'OFFRE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of myOffre">
      <button ion-item (click)="openItem(item)">

        <ion-avatar item-start>
          <img [src]="imageService.getImage(item.id)" />
        </ion-avatar>
        <ion-card-content>
          <p>{{item.content}}</p>
        </ion-card-content>
      </button>
      <ion-label color="danger">{{item.price}}</ion-label>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>