<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="text-center">

  <ion-list>
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label>{{'NAME'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'EMAIL'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="account.email" name="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'PASSWORD'|translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>{{'COURTIER'|translate}}</ion-label>
      <ion-toggle [(ngModel)]="courtier" (ionChange)="updateStatut()"></ion-toggle>
    </ion-item>
    <button ion-item (click)="save()">
      {{"SAVE"}}
    </button>
    <ion-col>
      <button ion-button (click)="deconnexion()">
        {{"DECONNEXION"}}
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="danger" (click)="supprimer()">
        {{"SUPPRIMER"}}
      </button>
    </ion-col>

  </ion-list>


</ion-content>