<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
      <ion-list radio-group [(ngModel)]="account.statut" name="statut">

        <ion-list-header>
        {{'STATUT'}}
        </ion-list-header>
        <ion-item>
          <ion-label>{{'CLIENT'}}</ion-label>
          <ion-radio slot="start" value="CLIENT"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{'COURTIER'}}</ion-label>
          <ion-radio slot="start" value="COURTIER"></ion-radio>
        </ion-item>
      </ion-list>

      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>

  </form>
</ion-content>