<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CONTACT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of userService.getContacts()">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img *ngIf="item.id" [src]="imageService.getImage(item.id)" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.email}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>