<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="startApp()" color="primary">{{ 'HOME' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>